<template>
  <div id="home-category-board" class="grid-board pb-0 mb-0" style="display: none;">
    <ul class="row">
      <li
        class="col-12 col-md-4"
        v-for="category in categories"
        :key="category.id"
      >
        {{ category.title }}
          <ul>
            <li
              v-for="subCategory in category.children"
              :key="subCategory.id"
            >
              <a
                :href="subCategory.routes.show"
              >
                {{ subCategory.title }}
              </a>
            </li>
          </ul>
      </li>
    </ul>
    <ul class="row">
      <li
        class="col-12 col-md-4"
        v-for="category in categoriesThaiissue"
        :key="category.id"
      >
        {{ category.title }}
          <ul>
            <li
              v-for="subCategory in category.children"
              :key="subCategory.id"
            >
              <a
                :href="subCategory.routes.show"
              >
                {{ subCategory.title }}
              </a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</template>

<script>
  import ApiCategories from '../api/categories.js';

  export default {
    data: function() {
      return {
        categories: null,
        categoriesThaiissue: null,
      }
    },
    mounted() {
      this.fetchData()
    },
    methods: {
      fetchData() {
        // axios.get('/api/categories')
        ApiCategories.all()
          .then(({data}) => {
            this.$util.removeElements(document.getElementsByClassName("shelves"))
            this.$util.showElement(document.getElementById("home-category-board"))
            var categories = data.data
            this.categories = categories.filter(category => {
              return category.slug != 'thaiissue'
            })
            this.categoriesThaiissue = categories.filter(category => {
              return category.slug == 'thaiissue'
            })
          });
      }
    }
  }
</script>
