<template>
  <li class="grid-list-item">
    <div class="grid-list-wrap">
          <div class="grid-list-body">
            <small>
              <span
                :id="'post-'+comment.post.id+'-comment-'+comment.order_no"
                ref="referToButton"
                class="order-no"
                :data-order-no="comment.order_no"
                v-on:click="referToThisComment"
              >
                {{ comment.order_no }}
              </span>
              <span v-if="comment.is_admin_posted">
                {{ lang('comment.moderator') }}
                <i class="fa fa-glass"></i>
              </span>
              <span v-else>
                {{ lang('category.by-no-name') }}
              </span>
              |
              <span>
                {{ comment.created_at }}
              </span>
              |
              <span :style="{
                fontWeight: '900',
                color: $util.colorFromStirng(comment.hash_ip.trim())
              }">
                ID: {{ comment.hash_ip }}
              </span>
              <span v-show="showPostTitle">
                {{ lang('category.in') }}
                <a
                  :href="comment.post.routes.show"
                  class="comment-parent-post"
                >
                  {{ comment.post.title }}
                </a>
              </span>
              <span v-show="auth">
                |
                <favorite-component
                  :model-id="comment.id"
                  :is-favorited="comment.is_favorited"
                  model-name="comment"
                ></favorite-component>
              </span>
            </small>
            <p
              class="comment-body with-img"
            >
              <span
                @click="collapsed = !collapsed"
              >
                <lazy-image-component
                  v-if="comment.image !== null"
                  class="img-switch"
                  v-bind:class="{
                    'img-bw' : !collapsed,
                    'img-nsfw' : comment.nsfw || comment.parent_category == 'adult',
                  }"
                  :lazy-src="comment.thumbnail"
                ></lazy-image-component>
              </span>
              <span
                v-html="comment.body"
              ></span>
            </p>
            <p
              class="p-body-img"
              v-if="comment.image !== null"
              v-show="!collapsed"
            >
              <lazy-image-component
                v-if="comment.image !== null"
                class="img-fluid"
                :lazy-src="comment.image"
                :lazy-src-placeholder="comment.thumbnail"
              ></lazy-image-component>
            </p>
            <p
              v-if="comment.youtube_embeds"
              v-html="comment.youtube_embeds"
              class="comment-body youtube-embeds"
            ></p>
          </div>


        </div>
  </li>
</template>

<script>
  export default {
    props: {
      comment: Object,
      showPostTitle: {
        type: Boolean,
        default: true,
      },
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data() {
      return {
        collapsed: true,
      };
    },
    methods: {
      referToThisComment(event) {
        var orderNo = this.$refs.referToButton.dataset.orderNo;
        var commentBoxBody = $('#comment-box #body');
        if (commentBoxBody.length > 0) {
          if (commentBoxBody.val() === '') {
            commentBoxBody.append(`>>${orderNo}`);
          } else {
            commentBoxBody.append(` >>${orderNo}`);
          }

          commentBoxBody.focus();
        }
      }
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
