<template>
  <ul id="comment-order-post" class="grid-list">
    <!-- if no post at all -->
    <li class="grid-list-item" v-show="status">
      <span class="text-dark"  v-html="status"></span>
    </li> <!-- if no post at all -->

    <transition name="slide-fade">
      <comment-component
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
        :show-post-title="false"
        :auth="auth"
      ></comment-component>
      </li>
    </transition>

  </ul>
</template>

<script>
  import ApiComments from '../api/comments.js';

  export default {
    props: {
      postId: Number,
      commentOrderNo: Number,
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data: function() {
      return {
        comments: null,
        status: false
      };
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        ApiComments.byOrderNoAndPostId(this.commentOrderNo, this.postId)
          .then(({data}) => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.$util.showElement(document.getElementById("comment-order-post"));
            this.comments = [data.data];
          })
          .catch(error => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.status = lang('error.500');
          });
      }
    }
  }
</script>

<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(5px);
  opacity: 0;
}
</style>
