<template>
  <ul id="category-comment-list" class="grid-list" ref="commentListTop">
    <!-- if no post at all -->
    <li class="grid-list-item" v-show="status">
      <span class="text-dark"  v-html="status"></span>
    </li> <!-- if no post at all -->

    <transition-group name="slide-fade" tag="span">
      <comment-component
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
        :show-post-title="false"
        :auth="auth"
      ></comment-component>
      </li>
    </transition-group>
    <!-- Paginate menu -->
    <pagination-load-more-component
      v-model="comments"
      v-on:fetchPaginate="fetchPaginate"
      :meta="meta"
      :links="links"
    ></pagination-load-more-component> <!-- End Paginate menu -->
  </ul>
</template>

<script>
  import ApiPosts from '../api/posts.js';

  export default {
    props: {
      postId: Number,
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data: function() {
      return {
        comments: {},
        status: false,
        pagination: {},
        meta: {},
        links: {},
      };
    },
    created() {
      this.fetchData(this.postId, 1);
    },
    methods: {
      fetchData(postId, page = 1) {
        ApiPosts.getCommentPaginateById(this.postId, page)
          .then(({data}) => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.$util.showElement(document.getElementById("category-comment-list"));
            if (_.isEmpty(this.comments)) {
              if (data.data.length > 0) {
                this.comments = data.data;
                this.$refs.commentListTop.scrollTop = 0;
                this.meta = data.meta;
                this.links = data.links;
              } else {
                this.status = lang('error.no-comment');
              }
            } else {
              this.comments.push(...data.data);
              this.meta = data.meta;
              this.links = data.links;
            }
            this.$nextTick(function () {
              addEventlistenerReferTo();
              addEventlistenerReferToCross();
            });
          })
          .catch(error => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.status = lang('error.500');
          });
      },
      fetchPaginate(endpoint) {
        var page = this.$util.getQueryString('page', endpoint);
        this.fetchData(this.postId, page);
      }
    }
  }
</script>

<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(5px);
  opacity: 0;
}
</style>
