<template>
  <ul id="category-comment-list" class="grid-list" ref="commentListTop">

    <!-- Paginate menu -->
    <pagination-component
      v-model="comments"
      v-on:fetchPaginate="fetchPaginate"
      :meta="meta"
      :links="links"
      :processing="processing"
    >
    </pagination-component> <!-- End Paginate menu -->

    <!-- if no post at all -->
    <li class="grid-list-item" v-show="status">
      <span class="text-dark"  v-html="status"></span>
    </li> <!-- if no post at all -->

    <transition-group name="slide-fade">
      <comment-component
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
        :auth="auth"
      ></comment-component>
      </li>
    </transition-group>

    <!-- Paginate menu -->
    <pagination-component
      v-model="comments"
      v-on:fetchPaginate="fetchPaginate"
      :meta="meta"
      :links="links"
      :processing="processing"
    >
    </pagination-component> <!-- End Paginate menu -->
  </ul>
</template>

<script>
  import ApiCategories from '../api/categories.js'

  export default {
    props: {
      categoryId: Number,
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data () {
      return {
        comments: null,
        processing: false,
        status: false,
        // endpoint: '/api/categories/'+this.categoryId+'/comments-paginate',
        pagination: {},
        meta: {},
        links: {},
      };
    },
    created() {
      this.fetchData(this.categoryId, 1);
    },
    methods: {
      fetchData(categoryId, page = 1) {
          ApiCategories.getCommentPaginateById(categoryId, page)
          .then(({data}) => {
            if (this.processing === true) {
              return;
            }
            this.processing = true;
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.$util.showElement(document.getElementById("category-comment-list"));
            if (this.comments === null && data.data.length > 0) {
              this.prepareData(data);
            } else if (data.data.length > 0) {
              setTimeout(() => { this.prepareData(data); }, 800);
            } else {
              this.status = lang('error.api-not-found');
              this.processing = false;
            }
            this.$nextTick(function () {
              addEventlistenerReferTo();
              addEventlistenerReferToCross();
            })
          })
          .catch(error => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.status = lang('error.500');
          });
      },
      fetchPaginate(endpoint) {
        var page = this.$util.getQueryString('page', endpoint);
        this.fetchData(this.categoryId, page);
      },
      prepareData(data) {
        this.comments = data.data;
        this.$refs.commentListTop.scrollTop = 0;
        this.meta = data.meta;
        this.links = data.links;
        this.processing = false;
      },
    }
  }
</script>

<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .1s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(5px);
  opacity: 0;
}
</style>
