<template>
  <li class="grid-list-item">
      <div class="grid-list-wrap">
        <div class="grid-list-body">
          <small>
            <i class="fa fa-star fa-lg"></i>
            <span v-if="post.is_admin_posted">
              {{ lang('post.moderator') }}
              <i class="fa fa-glass"></i>
            </span>
            <span v-else>
              {{ lang('category.by-no-name') }}
            </span>
            |
            <span>
              {{ post.created_at }}
            </span>
            |
            <span :style="{
              fontWeight: '900',
              color: $util.colorFromStirng(post.hash_ip.trim())
            }">
              ID: {{ post.hash_ip }}
            </span>
          </small>
            <h5>
              <a :href="post.routes.show">
              {{ post.title }}
              </a>
            </h5>
          <small>
            {{ post.body | truncate(250, '...') }}
          </small>
          <br>
          <small>
            <span>
              {{ post.comments_count }}
              {{ lang('comment.comment') }}
            </span>
            ‧
            <span>
              {{ post.comments_images_count }}
              {{ lang('post.image') }}
            </span>
            <span v-show="auth">
              |
              <favorite-component
                :model-id="post.id"
                :is-favorited="post.is_favorited"
                model-name="post"
              ></favorite-component>
            </span>
          </small>
        </div>
        <span @click="collapsed = !collapsed">
          <lazy-image-component
            v-if="post.thumbnail !== null"
            class="grid-image"
            v-bind:class="{
              'img-bw' : !collapsed,
              'img-nsfw' : post.nsfw || post.parent_category == 'adult',
            }"
            :lazy-src="post.thumbnail"
          ></lazy-image-component>
        </span>
      </div>
        <div
          class="post-body-img"
          v-if="post.image !== null"
          v-show="!collapsed"
        >
          <lazy-image-component
            v-if="post.image !== null"
            class="img-fluid"
            :lazy-src="post.image"
            :lazy-src-placeholder="post.thumbnail"
          ></lazy-image-component>
        </div>
    </li>
</template>

<script>
  export default {
    props: {
      post: Object,
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data() {
      return {
        collapsed: true,
      };
    },
  }
</script>

<style scoped>
   /* Your style */
</style>
