<template>
  <ul id="post-box" class="grid-list">
    <!-- if no post at all -->
    <li class="grid-list-item" v-show="status">
      <span class="text-dark"  v-html="status"></span>
    </li> <!-- if no post at all -->
    <transition name="slide-fade">
      <li class="grid-list-item" v-show="processCompleted">
        <div class="grid-list-wrap">
          <div class="grid-list-body">
            <small>
              <i class="fa fa-star fa-lg"></i>
              <span>
                {{ lang('category.by-no-name') }}
              </span>
              |
              <span>
                {{ post.created_at }}
              </span>
              |
              <span :style="{
                fontWeight: '900',
                color: $util.colorFromStirng(post.hash_ip)
              }">
                ID: {{ post.hash_ip }}
              </span>
            </small>
            <h5>
              {{ post.title }}
            </h5>
            <small>
              <span>
                {{ post.comments_count }}
                {{ lang('comment.comment') }}
              </span>
              ‧
              <span>
                {{ post.comments_images_count }}
                {{ lang('post.image') }}
              </span>
              <span v-show="auth">
                |

                <!-- use v-if to ensure data loaded before assign to props -->
                <favorite-component
                  v-if="post.id"
                  :model-id="post.id"
                  :is-favorited="post.is_favorited"
                  model-name="post"
                ></favorite-component>
              </span>
            </small>
          </div>
        </div>
        <div
          class="post-body-img"
          v-if="post.image !== null"
        >
          <lazy-image-component
            class="img-fluid"
            :lazy-src="post.image"
            :lazy-src-placeholder="post.thumbnail"
            v-if="post.image !== null"
          ></lazy-image-component>
        </div>
        <div class="post-body" v-html="post.body"></div>
        <div
          v-if="post.youtube_embeds"
          v-html="post.youtube_embeds"
          class="post-body youtube-embeds"
        ></div>
      </li>
    </transition>

  </ul>
</template>

<script>
  import ApiPost from '../api/posts.js'

  export default {
    props: {
      postId: Number,
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data: function() {
      return {
        post: {},
        status: false,
        processCompleted: false,
      };
    },
    created() {
      this.fetchData(this.postId);
    },
    methods: {
      fetchData(postId) {
          ApiPost.byId(postId)
          .then(({data}) => {
            this.$util.removeElements(document.getElementsByClassName("shelves-post"));
            this.$util.showElement(document.getElementById("post-box"));
            this.$util.showElement(document.getElementById("grid-post-create-page"));
            this.post = data.data;
            this.processCompleted = true;
          })
          .catch(error => {
            this.$util.removeElements(document.getElementsByClassName("shelves-post"));
            this.status = lang('error.500');
          });
      }
    }
  }
</script>

<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
