<template>
  <div>
    <div class="form-group mt-2 mb-0 small">
        <label class="mr-2">
          {{ lang('post.selected-img') }}
        </label>
        <input
          type="file"
          accept="image/x-png,image/gif,image/jpeg"
          class="input-img"
          name="image"
          v-bind:class="{ 'is-invalid': isError }"
          v-on:change="onFileChange"
        >
          <label class="ml-2 text-muted" >
            {{ lang('post.allowed-file-type') }}
          </label>
    </div>
    <div
      class="small text-danger"
      v-show="isError"
    >
      {{ errorMsg }}
    </div>
    <div id="preview">
      <img v-if="url" :src="url" />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      isError: {
        type: Boolean,
        default: false,
      },
      errorMsg: {
        type: String,
        default: null,
      }
    },
    data() {
      return {
        url: null,
      }
    },
    methods: {
      onFileChange(e) {
        const file = e.target.files[0];
        if (file) {
          this.url = URL.createObjectURL(file);
        } else {
          this.url = null;
        }
      }
    }
  }
</script>

<style scoped>
  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
    margin-top: 1rem;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
    margin: 1rem 0;
  }
</style>
