$app-primary: #dc2828 !default;
$app-primary-dark: #c20000 !default;
$app-primary-light: #ff5a36 !default;

$app-secondary: #42adf0 !default;
$app-secondary-dark: #007ebd !default;
$app-secondary-light: #def1fc !default;

$app-bg: $white;
$app-dark-bg: #323232;
$app-meduim-bg: #bdbdbd;
$app-light-bg: #eeeeee;

$app-text-dark: #1c1c1c;
$app-text-light: #7c7c7c;

$app-link: $app-primary;
$app-link-visited: $app-primary;

