html {
  height: 100%
}

body {
  background: $app-light-bg;
  height: 100%;
}

a {
  color: $app-link;
  &:hover {
    color: $app-link;
    text-decoration: underline;
  }
  &:visited {
    color: $app-link-visited;
  }
}
input, textarea, button {
  border-radius: 0 !important;
}
main {
  margin-top: 50px;
  min-height: 80%;
  min-height: -webkit-calc(100% - 132px);
  min-height: -moz-calc(100% - 132px);
  min-height: calc(100% - 132px);
}

#app {
  margin-top: 50px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  main {
    margin-top: 58px;
    min-height: calc(100% - 115px);
  }
}
