<template>
  <span>
    <i
    class="fa fa-heart favorite"
    v-bind:class="{ 'active' :  mutableIsFavorite }"
    v-on:click="toggleFavorite()"
    ></i>
  </span>
</template>

<script>
  import ApiFavorite from '../../api/favorite.js'

  export default {
    props: {
      modelId: {
        Type: Number,
        useDefaultForNull: true
      },
      isFavorited: {
        Type: Boolean,
        default: false
      },
      modelName: {
        type: String,
        validator: (val) => ['post', 'comment'].includes(val),
        default: 'post'
      }
    },
    created() {
      // console.log(this.modelName+' = '+this.isFavorited);
    },
    data() {
      return {
        mutableIsFavorite: this.isFavorited
      };
    },
    methods: {
      toggleFavorite() {
        switch(this.modelName) {
          case 'post':
            this.togglePost()
            break;
          case 'comment':
            this.toggleComment()
            break;
          default:
            this.togglePost()
            break;
        }
      },
      togglePost() {
        ApiFavorite.toggleFavoritePost(this.modelId)
          .then(({data}) => {
            this.mutableIsFavorite = data.is_favorited;
          })
          .catch(error => {});
      },
      toggleComment() {
        ApiFavorite.toggleFavoriteComment(this.modelId)
          .then(({data}) => {
            this.mutableIsFavorite = data.is_favorited;
          })
          .catch(error => {});
      }
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
