<template>
  <v-lazy-image
    :src="lazySrc"
    :src-placeholder="lazySrcPlaceholder"
  ></v-lazy-image>
</template>

<script>
  import VLazyImage from "v-lazy-image";

  export default {
    props: {
      lazySrc: {
        type: String,
        default: '',
      },
      lazySrcPlaceholder: {
        type: String,
        default: '',
      },
    },
    components: {
      VLazyImage
    }
  };
</script>

<style scoped>
.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}
</style>
