<template>
  <!-- Paginate menu -->
  <li class="grid-list-item">
    <div class="grid-list-nav">
      <a
        v-on:click="fetchPaginateParent(links.prev)"
        :disabled="!links.prev"
      >
        {{ lang('pagination.prev') }}
      </a>
      <span>
        {{ meta.current_page }}
        /
        {{ meta.last_page }}
      </span>
      <a
        v-on:click="fetchPaginateParent(links.next)"
        :disabled="!links.next"
      >
      {{ lang('pagination.next') }}
      </a>
      <i v-if="processing" class="fa fa-spinner fa-spin"></i>
    </div>
  </li> <!-- End Paginate menu -->
</template>

<script>
  export default {
    props: {
      meta: Object,
      links: Object,
      processing: Boolean,
    },
    methods: {
      fetchPaginateParent(endpoint) {
        this.$emit('fetchPaginate', endpoint);
      },
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
