<template>
  <!-- Paginate menu -->
  <li
    class="grid-list-item load-more"
    v-if="(meta.current_page) !== meta.last_page"
    v-on:click="fetchPaginateParent(links.next)"
    :disabled="!links.next"
  >
    <div class="grid-list-nav">
      <span>
        {{ lang('pagination.load-more-page') }}
        {{ meta.current_page + 1 }}
        {{ lang('pagination.from-all-page') }}
        {{ meta.last_page }}
        {{ lang('pagination.page') }}
      </span>
    </div>
    </a>
  </li> <!-- End Paginate menu -->
</template>

<script>
  export default {
    props: {
      meta: Object,
      links: Object,
    },
    methods: {
      fetchPaginateParent(endpoint) {
        this.$emit('fetchPaginate', endpoint);
      },
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
