body {
  &#admin {
    background: white;
    overflow: auto;
  }
  .soft-delete {
    td {
      background: $app-dark-bg;
    }
    color: $app-text-dark;
  }
  .parent-category {
   td {
      background: $app-primary-light;
    }
    color: $app-text-dark;
  }
  .sub-category {
   td {
      background: $app-secondary-light;
      img {
        background: $app-primary;
      }
    }
    color: $app-text-dark;
  }
}
