#register {
  .row-header {
    margin-bottom: 1rem
  }
}

#login {
  .row-header {
    margin-bottom: 1rem
  }
}

.hint {
  font-size: 0.8rem;
  width: 80%;
  text-align: center;
  margin: auto;
  color: $app-text-light;
}

.avatar {
  border-radius: 50%;
}
