.favorite {
  color: $app-text-light!important;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  cursor: pointer;
  -webkit-transition: color .8s, font-size 1s; /* Safari */
  transition: color .8s, font-size 1s;
  &:hover {
    color: $app-primary!important;
  }
  &.active {
    color: $app-primary!important;
    font-size: 2rem;
  }
}

#favorites-list {
  .shelves {
    margin-top: 0;
  }
  ul {
    margin-top: 0rem;
    .nav-item {
      width: 50%;
      .nav-link {
        border-radius: 0;
        &.active {
          background-color: $app-primary;
        }
        &:hover {
          color: $white;
          background-color: $app-primary;
        }
      }
    }
  }
}
