.referToWrap{
  .referTo {
    display: inline-grid;
  }
  &:hover {
    .referFloatingBox {
      display: table;
    }
  }
  .referFloatingBox {
    display: none;
    color: #7c7c7c;
    position: absolute;
    height: 50px;
    padding: 0.5rem 1rem;
    border: 1px solid $app-primary;
    background: #fff;
    width: 70%;
    margin-top: 24px;
    margin-left: 15px;
    z-index: 1;
    .order-no {
      padding-left: 0.5rem;
      padding-right: 0.4rem;
      padding-top: 0.1rem;
      padding-bottom: 0.2rem;
      color: #fff;
      background-color: $app-primary;
      margin-right: 0.25rem;
    }
    .body {
      padding: 0.5rem 1rem !important;
      margin: 1rem 1.5rem !important;
      margin-right: 0rem !important;
      background-color: $app-light-bg !important;
      color: $app-text-dark;
      white-space: pre-wrap;
      &.with-img {
        overflow: auto;
      }
      &.error {
        color: $app-primary;
      }
      .img-switch {
        cursor: pointer;
        width: 99px;
        height: 99px;
        background-color: #bdbdbd;
        max-height: 99px;
        float: left;
        margin-right: 0.50rem;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}


.referToCrossWrap{
  .referToCross {
    display: inline-grid;
  }
  &:hover {
    .referCrossFloatingBox {
      display: table;
    }
  }
  .referCrossFloatingBox {
    display: none;
    color: #7c7c7c;
    position: absolute;
    height: 50px;
    padding: 0.5rem 1rem;
    border: 1px solid $app-primary;
    background: #fff;
    width: 70%;
    margin-top: 24px;
    margin-left: 15px;
    z-index: 1;
    .title {
      font-weight: 900;
      color: #000;
      padding-top: 0.25rem;
      i {
        color: $app-primary;
      }
    }
    .order-no {
      padding-left: 0.5rem;
      padding-right: 0.4rem;
      padding-top: 0.1rem;
      padding-bottom: 0.2rem;
      color: #fff;
      background-color: $app-primary;
      margin-right: 0.25rem;
    }
    .body {
      padding: 0.5rem 1rem !important;
      margin: 1rem 1.5rem !important;
      margin-right: 0rem !important;
      background-color: $app-light-bg !important;
      color: $app-text-dark;
      white-space: pre-wrap;
      &.with-img {
        overflow: auto;
      }
      &.error {
        color: $app-primary;
      }
      .img-switch {
        cursor: pointer;
        width: 99px;
        height: 99px;
        background-color: #bdbdbd;
        max-height: 99px;
        float: left;
        margin-right: 0.50rem;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}
