.disabled {
  pointer-events: none;
}
fieldset {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  &.disabled {
    .form-group {
      opacity: .4;
    }
  }
  .processing {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    color: $app-primary;
  }
}
