.goTop {
  border-radius: 5px;
  background-color: $app-primary;
  color: $white;
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
  .fa {
    color: white;
    font-size: 22px;
    font-weight: 900;
  }
  &:hover {
    opacity: 1;
    background-color: $app-primary;
  }

  &.isVisible {
    opacity: .9;
    z-index: 4;
    transition: all .4s ease-in;
  }
}
