.grid-cover {
    text-align: center;
    background: $app-primary;
}

.grid-card {
  margin-top: 1rem;
  background: $app-bg;
  flex: 1 1 auto;
  padding: 1.25rem;
  h5 {
    margin-bottom: .75rem;
  }
}

.grid-board {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: $app-bg;
  ul {
    padding-left: 0;
    list-style: none;
    li {
    font-weight: 700;
      ul {
        padding-left: 1.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
      }
    }
    a {
      font-weight: 400;
    }
  }
}

.grid-list {
  margin-top: 1rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  .grid-list-item {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: $app-bg;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    color: $app-text-dark;
    text-align: inherit;
    overflow: initial;
    &.load-more {
      transition: background-color 0.5s ease;
      // transition: color 0.5s ease;
      cursor: pointer;
      &:hover {
        font-weight: 900;
        background-color: $app-primary;
        span {
          color: $white;
        }
      }
    }
    .grid-list-nav {
      text-align: center;
      font-size: .8rem;
      color: $app-primary;
      a {
        color: $app-primary;
        cursor: pointer;
        margin: 0 1em;
        &[disabled=disabled] {
          cursor: default;
          color: $app-text-light;
        }
      }
    }
    .grid-list-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      .grid-list-body {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .order-no {
          cursor: pointer;
          padding-left: 0.5rem;
          padding-right: 0.4rem;
          padding-top: 0.1rem;
          padding-bottom: 0.2rem;
          color: $white;
          background-color: $app-primary;
          margin-right: 0.25rem;
          &:hover {
            text-decoration: none;
          }
        }
        .comment-parent-post {
          color: $app-primary;
          font-weight: 400;
        }
        .comment-body {
          padding: 0.5rem 1rem !important;
          margin: 1rem 1.5rem !important;
          margin-right: 0rem !important;
          background-color: $app-light-bg !important;
          color: $app-text-dark;
          white-space: pre-wrap;
          word-break: break-all;
          &.with-img {
            overflow:auto;
          }
          img.img-switch {
            cursor: pointer;
            width: 99px;
            height:99px;
            background-color: $app-meduim-bg;
            max-height: 99px;
            float: left;
            margin-right: 0.50rem;
            object-fit: cover;
          }
        }
        .p-body-img {
          padding: 0.5rem 1rem !important;
          margin: 1rem 1.5rem !important;
          margin-right: 0rem !important;
          background-color: $app-light-bg !important;
        }
        .post-body-img {
          text-align: center;
          -webkit-flex-wrap: wrap;
        }
        i {
          color: $app-primary;
        }
        h5 {
          margin-bottom: 0.25rem !important;
          margin-top: 0 !important;
          a {
            color: $app-text-dark;
            &:hover {
              // text-decoration: none;
            }
          }
        }
        small {
          color: $app-text-light;
        }
      }
      .grid-image {
        width: 200px;
        height: 120px;
        background-color: $app-light-bg;
        object-fit: cover;
        object-position: center; /* Center the image within the element */
        cursor: pointer;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .grid-list {
    .grid-list-item {
      .grid-list-wrap {
        .grid-image {
          width: 102px;
          height: 89px;
        }
      }
    }
  }
}

.grid-post-page {
  margin-top: 1rem;
  padding-top: .25rem;
  .post-body {
    padding: 0.5rem 1rem !important;
    margin-right: 0rem !important;
    color: $app-text-dark;
    white-space: pre-wrap;
  }
  .post-body-img {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: $app-meduim-bg;
  }
  @include media-breakpoint-down(md) {
    .post-body-img {
      padding: 0.5rem 1rem ;
    }
  }
}

.grid-post-create-page {
  margin-top: 1rem;
  padding-top: .25rem;
  .create-post {
    padding: 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    background-color: #fff !important;
    h2 {
      // color: $app-primary;
    }
  }
  .post-guideline {
    margin-top: 1rem !important;
    font-size: 80%;
    summary {
      color: $app-secondary !important;
      margin-bottom: 1rem !important;
    }
    li {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  form.post-box {
    background: $app-light-bg !important;
    color: $app-text-dark;
    padding: 1rem 2rem;
    margin-top: 2rem;
    input, textarea {
      border-radius: 0px;
    }
    textarea {
      min-height: 100px !important;
    }
    .form-group {
      margin-bottom: 0;
    }
    #postTitle {
      width: 100%;
    }
    .preview-post-img {
      max-height: 200px;
      margin: 1rem 0;
    }
  }
}

.grid-back-to-post {
  text-align: center;
  a {
    text-decoration:none;
    &:hover {
      text-decoration:none;
    }
  }
  .grid-card {
    transition: background-color 0.5s ease;
    // transition: color 0.5s ease;
    cursor: pointer;
    &:hover {
      font-weight: 900;
      background-color: $app-primary;
        color: $white;
      span {
      }
    }
  }
}

#category-post-list {
  .post-body-img {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: #bdbdbd;
  }
}
