.navbar-thaiissue {
  background-color: $app-bg;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  span.beta {
    background: rgba(255, 0, 0, 1);
    color: #fff;
    font-size: 0.7rem!important;
    padding: 1px 5px;
    position: relative;
    top: -8px;
    left: -22px;
    transform: rotate(20deg);
    display: inline-block;
  }
  .container {
    .dropdown {
      .avatar {
        border-radius: 50%;
      }
      .dropdown-menu {
        top: 98%;
        border: 0;
        border-radius: 0;
        .dropdown-item {
          &:hover {
            background-color: $app-primary;
            color: $white;
            i {
              color: $white;
            }
          }
        }
      }
    }
    .navbar-nav {
      .nav-item {
        padding-top: 0.5rem;
        a {
          color: $app-text-light;
        }
        &.active {
          a {
            color: $app-primary;
            &:hover {
              color: $app-primary;
              text-decoration: none;
            }
            &.nav-register {
              color: $app-primary;
              i {
                color: $app-primary;
              }
            }
          }
        }
        .nav-link {
          padding: 0.4rem 1rem;
          &:hover {
            color: $app-primary;
          }
          &.nav-register {
            border: 1px solid $app-text-light;
            color: $app-text-light;
            padding: 0.1rem 1.5rem;
            margin-top: 0.3rem;
            &:hover {
              color: $app-primary;
              i {
                color: $app-primary;
              }
            }
            i {
              color: $app-text-light;
            }
          }
        }
      }
    }
    #category-header {
      color: $app-primary;
    }
    .navbar-right {
      a {
        color: $app-text-dark;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        i {
          color: $app-primary;
        }
      }
    }
  }
}
#navbar-category-label {
  margin-top: 50px;
  text-align: center;
  background: $app-primary;
  height: 25px;
  line-height: 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index:1;
  font-size: .8rem;
  a {
    color: $white;
  }
}
@include media-breakpoint-down(md) {
  .navbar-thaiissue {
    height: auto;
  }
  #navbar-category-label {
    margin-top: 58px;
  }
}
