@mixin bg-blink() {
  -webkit-animation-name: background-blink-keyframes; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: background-blink-keyframes;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes background-blink-keyframes {
  0%   {background-color: $app-meduim-bg;}
  50%  {background-color: $app-light-bg;}
  100% {background-color: $app-meduim-bg;}
}

/* Standard syntax */
@keyframes background-blink-keyframes {
  0%   {background-color: $app-meduim-bg;}
  50%  {background-color: $app-light-bg;}
  100% {background-color: $app-meduim-bg;}
}

.shelves {
  overflow: hidden;
  background-color: $app-bg;
  margin-top: 1rem;
  padding: 0 1.5rem;
  .shelf-skeleton {
    pointer-events: none;
  }
  .shelf-with-image {
    display: flex;
    flex-wrap: wrap;
    .shelf-card {
      flex-basis: 0;
      flex-grow: 5;
      max-width: 100%;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-right: .75rem;
      .shelf-title {
        width: 30%;
        margin: 12px 0;
      }
      .shelf-content {
        margin: 12px 0;
      }
    }
    .shelf-image {
      @include bg-blink();
      flex-basis: 0;
      flex-grow: .8;
      max-width: 100%;
      width: 210px;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: .75rem;
      border-radius: 2px;
      margin: 24px 0 14px 0;
      height: 85px;
    }
    .shelf-image-left {
      @include bg-blink();
      flex-basis: 0;
      flex-grow: .8;
      max-width: 100%;
      width: 210px;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: .75rem;
      border-radius: 2px;
      margin: 24px 14px 14px 0;
      height: 85px;
    }
  }
  .shelf-card {
    .shelf-title {
      @include bg-blink();
      border-radius: 2px;
      margin: 24px 0 18px 0;
      width: 40%;
      height: 20px;
    }
    .shelf-content {
      @include bg-blink();
      border-radius: 2px;
      margin: 12px 0;
      width: 100%;
      height: 20px;
    }
  }
  .shelf-nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .shelf-nav-pill {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-animation-name: background-blink-keyframes;
      -webkit-animation-duration: 3s;
      animation-name: background-blink-keyframes;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: .8;
      -ms-flex-positive: .8;
      flex-grow: .8;
      max-width: 100%;
      width: 210px;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: .75rem;
      border-radius: 2px;
      margin: 15px 4px;
      height: 40px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .shelves {
    hr {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .shelf-with-image {
      .shelf-card {
        flex-grow: 2;
        .shelf-title {
          width: 50%;
        }
        .shelf-content {
          height: 14px;
        }
      }
      .shelf-image {
        flex-grow: .65;
        height: 74px;
      }
    }
  }
}
