.social-buttons {
  text-align: center;
  .btn-social {
    width: 80%;
    border-radius: 0;
    margin-bottom: 1rem;
    color: #fff !important;
    &.btn-google {
      background-color: #eb4235;
      &:hover {

      }
    }
    &.btn-facebook {
      background-color: #4267b2;
      &:hover {

      }
    }
    i {
      font-size: 1.5rem;
    }
  }
}
