.admin-table {
  a {
    &:visited {
      color: $white;
    }
  }
  thead {
    tr {
      th {
        font-size: .8rem;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: .8rem;
      }
    }
  }

}
