.text-app-primary {
  color: $app-primary!important;
}
.text-app-primary-dark {
  color: $app-primary-dark!important;
}
.text-app-secondary {
  color: $app-secondary!important;
}

.text-app-secondary-dark {
  color: $app-secondary-dark!important;
}

.text-truncate {
    max-lines: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
