<template>
  <div>
    <ul id="category-comment-list" class="grid-list" ref="commentListTop">
      <li class="grid-list-item" v-show="status">
        <span class="text-dark"  v-html="status"></span>
      </li> <!-- if no post at all -->
      <transition-group name="slide-fade">
        <comment-component
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
        :auth="auth"
      ></comment-component>
      </transition-group>
      <!-- Paginate menu -->
      <pagination-load-more-component
        v-model="comments"
        v-on:fetchPaginate="fetchPaginate"
        :meta="meta"
        :links="links"
      ></pagination-load-more-component> <!-- End Paginate menu -->
    </ul>
  </div>
</template>

<script>
  import ApiUsers from '../../api/users.js';

  export default {
    props: {
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data() {
      return {
        comments: null,
        status: false,
        pagination: {},
        meta: {},
        links: {},
      }
    },
    created() {
      this.fetchData(1);
    },
    methods: {
      fetchData(page = 1) {
        ApiUsers.getFavoriteCommentPaginate(page)
          .then(({data}) => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            if (_.isEmpty(this.comments)) {
              if (data.data.length > 0) {
                this.comments = data.data;
                this.meta = data.meta;
                this.links = data.links;
              } else {
                this.status = lang('error.favorite-no-comment');
              }
            } else {
              this.comments.push(...data.data);
              this.meta = data.meta;
              this.links = data.links;
            }
            this.$nextTick(function () {
              addEventlistenerReferTo();
              addEventlistenerReferToCross();
            });
          })
          .catch(error => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.status = lang('error.500');
          });
      },
      fetchPaginate(endpoint) {
        var page = this.$util.getQueryString('page', endpoint);
        this.fetchData(page);
      }
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
