<template>
  <div>

    <ul id="category-post-list" class="grid-list" ref="postListTop">
      <li class="grid-list-item" v-show="status">
        <span class="text-dark"  v-html="status"></span>
      </li> <!-- if no post at all -->
      <transition-group name="slide-fade">
        <post-component
          v-for="post in posts"
          :key="post.id"
          :post="post"
          :auth="auth"
        ></post-component>
      </transition-group>
      <!-- Paginate menu -->
      <pagination-load-more-component
        v-model="posts"
        v-on:fetchPaginate="fetchPaginate"
        :meta="meta"
        :links="links"
      ></pagination-load-more-component> <!-- End Paginate menu -->
    </ul>
  </div>
</template>

<script>
  import ApiUsers from '../../api/users.js';

  export default {
    props: {
      auth: {
        Type: Boolean,
        default: false
      }
    },
    data() {
      return {
        posts: null,
        status: false,
        pagination: {},
        meta: {},
        links: {},
      }
    },
    created() {
      this.fetchData(1);
    },
    methods: {
      fetchData(page = 1) {
        ApiUsers.getHistoryPostPaginate(page)
          .then(({data}) => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            if (_.isEmpty(this.posts)) {
              if (data.data.length > 0) {
                this.posts = data.data;
                this.meta = data.meta;
                this.links = data.links;
              } else {
                this.status = lang('error.favorite-no-post');
              }
            } else {
              this.posts.push(...data.data);
              this.meta = data.meta;
              this.links = data.links;
            }
            this.$nextTick(function () {
              addEventlistenerReferTo();
              addEventlistenerReferToCross();
            });
          })
          .catch(error => {
            this.$util.removeElements(document.getElementsByClassName("shelves"));
            this.status = lang('error.500');
          });
      },
      fetchPaginate(endpoint) {
        var page = this.$util.getQueryString('page', endpoint);
        this.fetchData(page);
      }
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
