<template>
  <div class="grid-card" id="user-password">
    <div class="row row-header">
      <div class="col-12">
        <h5>
          {{ lang('user.password') }}
        </h5>
        <!-- @submit handles any form of submission. -->
        <!-- .prevent keeps the event from bubbling around and doing anything else. -->
        <form @submit.prevent="handleSubmit">
          <div class="form-group row">
            <label
              for="current-password"
              class="col-12 col-md-2 col-form-label"
            >
              {{ lang('user.current-password') }}
            </label>
            <div class="col-12 col-md-10">
              <input
                type="password"
                class="form-control"
                id="current-password"
                autocomplete="current-password"
                :placeholder="lang('user.current-password')"
                v-model="user.password"
                :class="{'is-invalid' :  errors.current_password}"
              >
              <span
                v-show="errors.current_password"
                v-text="errors.current_password ? errors.current_password[0] : ''"
                class="small text-danger"
                role="alert"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="new-password"
              class="col-12 col-md-2 col-form-label"
            >
              {{ lang('user.new-password') }}
            </label>
            <div class="col-12 col-md-10">
              <input
                type="password"
                class="form-control"
                id="new-password"
                autocomplete="new-password"
                :placeholder="lang('user.new-password')"
                v-model="user.newPassword"
                :class="{'is-invalid' :  errors.new_password}"
              >
              <span
                v-show="errors.new_password"
                v-text="errors.new_password ? errors.new_password[0] : ''"
                class="small text-danger"
                role="alert"
              ></span>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="confirm-password"
              class="col-12 col-md-2 col-form-label"
            >
              {{ lang('user.confirm-password') }}
            </label>
            <div class="col-12 col-md-10">
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                autocomplete="confirm-password"
                :placeholder="lang('user.confirm-password')"
                v-model="user.confirmPassword"
              >
            </div>
          </div>
        </form>
        <!-- submit button outside form -->
        <div class="form-group row">
          <div class="col-12 offset-md-2 col-md-12">
            <button
              type="submit"
              class="btn btn-primary mb-2"
              @click="handleSubmit"
            >
              {{ lang('user.confirm-password') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #user-password -->
</template>

<script>
  import ApiUsers from '../../api/users.js'

  export default {
    data() {
      return {
        user: {
          password: '',
          newPassword: '',
          confirmPassword: '',
        },
        errors: {},
      };
    },
    mounted() {
      this.$util.removeElements(document.getElementsByClassName("shelves"));
    },
    methods: {
      handleSubmit() {
        ApiUsers.resetPassword(
          this.user.password,
          this.user.newPassword,
          this.user.confirmPassword
        )
        .then(({data}) => {
          if (data.ok) {
            this.user.password = '';
            this.user.newPassword = '';
            this.user.confirmPassword = '';
            this.errors = {};
          }
        })
        .catch(error => {
          this.errors = error.response.data.errors;
        });
      }
    }
  }
</script>

<style scoped>
   /* Your style */
</style>
